dl.boton1 {
	margin-top: 8%;
	margin-left: 31%;
	margin-bottom: 8%;
}

dl.boton2 {
	margin-left: 20%;
}

dl.boton3 {
	margin-top: 8%;
	margin-left: 25%;
	margin-bottom: 6%;
}

dl.boton4 {
	margin-left: 16%;
}

dl.boton5 {
	margin-left: 22%;
}

dl.boton6 {
	margin-top: 6%;
	margin-left: 18%;
	margin-bottom: 5%;
}

dl.boton7 {
	margin-left: 14%;
}

dl.boton8 {
	margin-left: 18%;
}

dl.boton9 {
	margin-left: 24%;
}

dl.volver {
	margin-top: 4%;
	margin-left: 0;
}
