body {	
	font-size: 75%;
	background: url('../images/fondoAULAS_cabecera.png') no-repeat center;
  	background-color: #004D97;
  	background-size: contain;
}

a:link, a:visited { text-decoration: none; color:#900; font-weight: bold; }
a:hover, a:active { color:#d90; }
br {margin-bottom: 0.5%;}

h1 {
	margin-bottom: 35%;
}

dl {

	background: transparent no-repeat top left;
	padding: 0 0 2% 5%;
}


dl.botonIzquierda {
	margin-top: 22%;
	margin-left: 25%;
	margin-bottom: 20%;
}


dl.botonDerecha {
	margin-left: 36%;
}

dl.administrador {
	margin-left: 0%;
}

dl.apagar {
	margin-left: 67%;
}

dl.reiniciar {
	margin-left: 42%;
	margin-bottom: 20%
}


dt { float: left;}
dd { margin-top: 0.2%; margin-bottom: 1%;}