h1 {
	margin-bottom: 24%;
}

dl.botonSuperior {
	margin-top: 10%;
	margin-left: 39.5%;
	margin-bottom: 10%;
}

dl.botonIzquierda {
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 8%;
}

dl.botonDerecha {
	margin-left: 36%;
}

dl.botonInferior {
	margin-top: 6%;
	margin-left: 39.5%;
	margin-bottom: 10%;
}
