h1 {
	margin-bottom: 18%;
}

dl.botonSuperior {
	margin-top: 10%;
	margin-left: 39.5%;
	margin-bottom: 12%;
}

dl.botonIzquierda {
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 9%;
}

dl.botonDerecha {
	margin-left: 36%;
}

dl.botonInferiorIzq {
	margin-top: 6%;
	margin-left: 32%;
	margin-bottom: 10%;
}

dl.botonInferiorDer {
	margin-left: 20%;
}