dl.boton1 {
        margin-top: 12%;
        margin-left: 28%;
        margin-bottom: 6%;
}

dl.boton2 {
        margin-left: 27%;
}

dl.boton3 {
        margin-top: 8%;
        margin-left: 28%;
        margin-bottom: 9%;
}

dl.boton4 {
        margin-left: 27%;
}
~
}
