body {	
	font-size: 75%;
	background: url('../images/fondoAULAS_cabecera.png') no-repeat center;
  	background-color: #004D97;
  	background-size: contain;
}

a:link, a:visited { text-decoration: none; color:#900; font-weight: bold; }
a:hover, a:active { color:#d90; }
br {margin-bottom: 0.5%;}

h1 {
	margin-bottom: 18%;
}


dl {
	background: transparent no-repeat top left;
	padding: 0 0 2% 5%;
}

dl.descargar {
	margin-top: 15%;
	margin-left: 31%;
	margin-bottom: 8%;
}


dl.particionado {
	margin-left: 20%;
}

dl.repararWindowsGeneral {
	margin-top: 8%;
	margin-left: 25%;
	margin-bottom: 8%;
}

dl.repararWindowsCentro {
	margin-left: 16%;
}

dl.repararLinux {
	margin-left: 22%;
}

dl.bajarRegistroGeneral {
	margin-top: 8%;
	margin-left: 18%;
	margin-bottom: 6%;
}

dl.subirRegistroGeneral {
	margin-left: 14%;
}

dl.bajarRegistroCentro {
	margin-left: 18%;
}

dl.subirRegistroCentro {
	margin-left: 24%;
}

dl.volver {
	margin-top: 4%;
	margin-left: 0;
}

dl.apagar {
	margin-left: 67%;
}

dl.reiniciar {
	margin-left: 38%;
	margin-bottom: 18%;
}

dt { float: left;}
dd { margin-top: 0.2%; margin-bottom: 1%;}