dl.boton1 {
        margin-top: 8%;
        margin-left: 28%;
}

dl.boton2 {
        margin-left: 27%;
}

dl.boton3 {
        margin-top: 8%;
        margin-left: 28%;
}

dl.boton4 {
        margin-left: 28%;
}
dl.boton5 {
	margin-top: 8%;
	margin-left: 28%;
}

dl.boton6 {
	margin-left: 28%;
}
