h1 {
	margin-bottom: 20%;
}

dl.botonSuperior {
	margin-top: 4%;
	margin-left: 39%;
	margin-bottom: 12%;
}

dl.botonIzquierda {
	margin-top: 12%;
	margin-left: 28%;
	margin-bottom: 6%;
}

dl.botonDerecha {
	margin-left: 27%;
}

dl.botonInferiorIzq {
	margin-top: 8%;
	margin-left: 28%;
	margin-bottom: 9%;
}

dl.botonInferiorDer {
	margin-left: 27%;
}