h1 {
	margin-bottom: 26%;
}

dl.botonSuperior {
	margin-top: 15%;
	margin-left: 39.5%;
	margin-bottom: 12%;
}

dl.botonIzquierda {
	margin-top: 15%;
	margin-left: 25%;
	margin-bottom: 12%;
}

dl.botonDerecha {
	margin-left: 36%;
}